@import "../../style/fonts"

.wrapper-block

  .wrapper-title
    margin-bottom: 20px
    height: 40px

    .input-title
      width: 100%
      box-sizing: border-box
      height: 100%
      border-radius: 5px
      border: 1px solid #DCE5D4
      padding: 0 10px
      font-family: 'Asap', sans-serif
      color: #fff
      font-size: 1.1em
      letter-spacing: .7px
      background-color: rgba(182, 25, 36, .8)
      &:focus
        outline: none
        box-shadow: inset 0 0 10px rgba(30, 34, 25, 0.8)
      &:hover
        outline: none
        box-shadow: inset 0 0 10px rgba(30, 34, 25, 0.8)

  .wrapper-description
    height: 300px

    .task-description
      width: 100%
      height: 100%
      resize: none
      box-sizing: border-box
      border: 1px solid #DCE5D4
      padding: 10px
      color: #fff
      font-size: 1.1em
      letter-spacing: .7px
      font-family: 'Asap', sans-serif
      border-radius: 5px
      background-color: rgba(182, 25, 36, .8)
      &:focus
        outline: none
        box-shadow: inset 0 0 10px rgba(30, 34, 25, 0.8)
      &:hover
        outline: none
        box-shadow: inset 0 0 10px rgba(30, 34, 25, 0.8)


  .wrapper-buttons
    margin-top: 20px
    .btn-save
      text-transform: uppercase
      cursor: pointer
      background-color: rgba(182, 25, 36, 0.8)
      color: #fff
      height: 40px
      border: 1px solid #DCE5D4
      padding: 0px 40px
      letter-spacing: .7px
      font-family: 'Asap', sans-serif
      border-radius: 5px
      &:hover
        outline: none
        box-shadow: 0 0 10px rgba(30, 34, 25, 0.8)
      &:active
        outline: none
        box-shadow: inset 0 0 10px rgba(30, 34, 25, 0.8)
      &:visited, &:focus
        outline: none

.wrapper-notes
  display: flex
  justify-content: center
  width: 90%
  margin: 30px auto 0
  flex-wrap: wrap
  .notes-item
    font-family: 'Asap', sans-serif
    background: yellow
    width: 250px
    height: 250px
    text-align: center
    box-shadow: 0 0 10px rgba(30, 34, 25, 0.8)
    margin: 0 30px 30px
  .notes-title
    text-transform: uppercase
