.wrapper-block
  max-width: 500px
  width: 90%
  display: block
  margin: 0 auto

  .wrapper-title
    margin-bottom: 20px
    height: 40px

    .input-title
      width: 100%
      box-sizing: border-box
      height: 100%
      border-radius: 5px
      border: 1px solid #DCE5D4
      &:focus
        outline: none
        box-shadow: 0 0 10px rgba(30, 34, 25, 0.8)

  .wrapper-description
    height: 300px

    .task-description
      width: 100%
      height: 100%
      resize: none
      box-sizing: border-box
      border: 1px solid #DCE5D4
      &:focus
        outline: none
        box-shadow: 0 0 10px rgba(30, 34, 25, 0.8)